<!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
   
    <!--====== PRELOADER PART START ======-->
<!--====== PRELOADER PART ENDS ======-->
    
    <!--====== NAVBAR TWO PART START ======-->

    <section class="navbar-area " style="padding:0; position:fixed; background-color: #f3f2f2;">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <!--<nav class="navbar navbar-expand-lg">
                     
                      <a class="navbar-brand" href="#">
                          <img style="max-width: 100%;" src="assets/images/wiprorig.png" alt="Logo">
                      </a>
                      
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTwo" aria-controls="navbarTwo" aria-expanded="false" aria-label="Toggle navigation" style="background-color:rgb(153, 153, 153);">
                          <span class="toggler-icon"></span>
                          <span class="toggler-icon"></span>
                          <span class="toggler-icon"></span>
                      </button>

                      <div class="collapse navbar-collapse " id="navbarTwo">
                          <ul class="navbar-nav m-auto">
                              <li class="nav-item active"><a class="page-scroll" style="color:#013135;" href="#home">home</a></li>
                              <li class="nav-item"><a class="page-scroll"  style="color:#013135;"href="#services">Services</a></li>
                            
                              <li class="nav-item" ><a class="page-scroll" style="color:#013135;" href="#about">About</a></li>
                            <li class="nav-item"><a class="page-scroll" target="_blank" style="color:#013135;" href="http://18.222.123.254:3013/"> Demo</a></li>
                             
                          </ul>
                      </div>
                      
                      <div class="navbar-btn d-none d-sm-inline-block">
                          <ul>
                              <li><a class="btn" style="color: #013135;" onclick="openForm()">Contact Us</a></li>
                             
                          </ul>
                      </div>
                  </nav>  -->
               
                   <nav  class="navbar  navbar-expand-lg "  >

                    <a class="navbar-brand" href="#">
                        <img  src="assets/images/wiprorig.png" alt="Logo">
                    </a>
                                      
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="" aria-label="Toggle navigation" style="background-color: rgb(204, 204, 204);">
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item active"><a class="page-scroll" style="color:#013135;" href="#home">home</a></li>
                            <li class="nav-item"><a class="page-scroll"  style="color:#013135;"href="#services">Services</a></li>
                             <li class="nav-item" ><a class="page-scroll" style="color:#013135;" href="#about">About</a></li>
                             <li class="nav-item"><a class="page-scroll" target="_blank" style="color:#013135;" href="http://18.222.123.254:3013/">Demo</a></li>
                           
                        </ul>
                        <div class="navbar-btn d-none d-sm-inline-block">
                            <ul>
                                <li><a class="btn" style="color: #013135;" onclick="openForm()">Contact Us</a></li>
                               
                            </ul>
                        </div>
                    </div>

                   
                  </nav>                   
              
              </div>
          </div> <!-- row -->
      </div> <!-- container -->
  </section>

  <!--====== NAVBAR TWO PART ENDS ======-->
  
  <!--====== SLIDER PART START ======-->

  <section id="home" class="slider_area" >
      <div id="carouselThree" class="carousel slide" style="background-color: white;" >
          <div class="carousel-inner " >
              <div class="carousel-item active" style="background-color: white;">
                 
                <div class="container">
                      <div class="row"> 
                          <div class="col-lg-6" style="background-color: white;">
                              <div class="slider-content" style="background-color: white; padding-top: 150px; padding-bottom: 50px;" >
                               
                                  <h1 style="font-size:50px; line-height: 60px; color:#103C55;" class="title" >Wipro's Composable DevOps Platform Digital Rig</h1>
                                  <p class="text" style="color:#547485;">Digital Rig is a Wipro’s DevSecOps platform to provide on demand CICD automation and 360 degree view of the DevOps practices in the organization.  Digital Rig saves up to 90% of CICD automation efforts.</p>
                                  <ul class="slider-btn rounded-buttons">
                                      <li><a class="main-btn rounded-one" style="background-color: #48c0bf; color: #ffffff;" target="_blank" href="http://18.222.123.254:3013/">Get Started With Devops</a></li>
                                      
                                  </ul>
                              </div>
                          </div>
                      </div> <!-- row -->
                  </div> <!-- container -->
                  <div class="slider-image-box d-none d-lg-flex align-items-center" style="background-color: white;">
                      <div >
                        
                          <img src="assets/images/slider/Banner2.png" alt="Hero">
                          
                      </div>  <!-- slider-imgae --> 
                  </div> <!-- slider-imgae box -->
              </div> <!-- carousel-item -->

              <div class="carousel-item" >
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-6">
                              <div class="slider-content">
                                  <h1 class="title">Crafted for Business</h1>
                                  <p class="text">We blend insights and strategy to create digital products for forward-thinking organisations.</p>
                                  <ul class="slider-btn rounded-buttons">
                                      <li><a class="main-btn rounded-one" href="#">GET STARTED</a></li>
                                      <li><a class="main-btn rounded-two" href="#">DOWNLOAD</a></li>
                                  </ul>
                              </div> <!-- slider-content -->
                          </div>
                      </div> <!-- row -->
                  </div> <!-- container -->
                  <div class="slider-image-box d-none d-lg-flex align-items-end">
                      <div class="slider-image">
                          <img src="assets/images/slider/2.png" alt="Hero">
                      </div> <!-- slider-imgae -->
                  </div> <!-- slider-imgae box -->
              </div> <!-- carousel-item -->

              <div class="carousel-item">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-6">
                              <div class="slider-content">
                                  <h1 class="title">Based on Bootstrap 4</h1>
                                  <p class="text">We blend insights and strategy to create digital products for forward-thinking organisations.</p>
                                  <ul class="slider-btn rounded-buttons">
                                      <li><a class="main-btn rounded-one" href="#">GET STARTED</a></li>
                                      <li><a class="main-btn rounded-two" href="#">DOWNLOAD</a></li>
                                  </ul>
                              </div> <!-- slider-content -->
                          </div>
                      </div> <!-- row -->
                  </div> <!-- container -->
                  <div class="slider-image-box d-none d-lg-flex align-items-end">
                      <div class="slider-image">
                          <img src="assets/images/slider/3.png" alt="Hero">
                      </div> <!-- slider-imgae -->
                  </div> <!-- slider-imgae box -->
              </div> <!-- carousel-item -->
          </div>
   
      </div>
  </section>

  <!--====== SLIDER PART ENDS ======-->
  
  <!--====== FEATRES TWO PART START ======-->

  <section id="services" class="features-area">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-6 col-md-10">
                  <div class="section-title text-center pb-10">
                      <h3 class="title">Services</h3>
                      <p class="text"></p>
                  </div> <!-- row -->
              </div>
          </div> <!-- row -->
          <div class="row justify-content-center">
              <div class="col-lg-4 col-md-7 col-sm-9">
                  <div class="single-features mt-40">
                      <div class="features-title-icon d-flex justify-content-between">
                         <div class="features-icon">
                            <img src="assets/images/Icons/1.png">
                              
                          </div>
                          <br>                           
                      </div>
                      <h4 class="features-title" ><a target="_blank" href="http://18.222.123.254:3013/" style="color:rgb(73, 73, 73);">Digital Rig Core</a></h4>
                      <div class="features-content">
                          <p class="text">Digital Rig accelerate DevOps adoption by Simplifying , Standardizing and Automating key engineering tasks</p>
                          <div class="bottomright" >
                              <a class="features-btn" target="_blank" href="http://18.222.123.254:3013/">View Demo -></a>
                            </div>
                      </div>
                  </div> <!-- single features -->
              </div>
              <div class="col-lg-4 col-md-7 col-sm-9">
                  <div class="single-features mt-40">
                      <div class="features-title-icon d-flex justify-content-between">
                          <div class="features-icon">
                            <img src="assets/images/Icons/2.png">
                           
                          </div>                                                   
                      </div>
                      <h4 class="features-title"><a target="_blank" href="http://18.222.123.254:3013/" style="color:rgb(73, 73, 73);">Assessment Portal</a></h4>
                      <div class="features-content">
                          <p class="text">Enterprise Approved automaton workflows for all One click DevSecOps Solutions
                        </p>
                          <div class="bottomright" ><a class="features-btn" target="_blank" href="http://18.222.123.254:3013/">View Demo -></a></div>
                      </div>
                  </div> <!-- single features -->
              </div>
              <div class="col-lg-4 col-md-7 col-sm-9">
                  <div class="single-features mt-40">
                      <div class="features-title-icon d-flex justify-content-between">
                          <div class="features-icon">
                            <img src="assets/images/Icons/3.png">
                              
                          </div>                                                    
                      </div>
                      <h4 class="features-title"><a target="_blank" href="http://18.222.123.254:3013/" style="color:rgb(73, 73, 73);">Competency Manager</a></h4>
                      <div class="features-content">
                          <p class="text">Build a comprehensive competency mapping and track skills enablement</p>
                          <div class="bottomright" ><a class="features-btn" target="_blank" href="http://18.222.123.254:3013/">View Demo -></a></div>
                      </div>
                  </div> <!-- single features -->
              </div>
              <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single-features mt-40">
                    <div class="features-title-icon d-flex justify-content-between">
                        <div class="features-icon">
                            <img src="assets/images/Icons/4.png">
                            
                        </div>                   
                        
                    </div>
                    <h4 class="features-title"><a target="_blank" href="http://18.222.123.254:3013/" style="color:rgb(73, 73, 73);">Environment Dashboard</a></h4>
                    <div class="features-content">
                        <p class="text">Real time Environment dashboard for tracking and monitoring Stability of Non Prod Environments</p>
                        <div class="bottomright" ><a class="features-btn" target="_blank" href="http://18.222.123.254:3013/">View Demo -></a></div>
                    </div>
                </div> <!-- single features -->
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single-features mt-40">
                    <div class="features-title-icon d-flex justify-content-between">
                        <div class="features-icon">
                            <img src="assets/images/Icons/5.png">
                            
                        </div>                                               
                    </div>
                    <h4 class="features-title"><a target="_blank" href="http://18.222.123.254:3013/" style="color:rgb(73, 73, 73);">Gamification</a></h4>
                    <div class="features-content">
                        <p class="text">Build challenges and positive reinforcements to drive New ways of working
                        </p>
                       <div class="bottomright" ><a class="features-btn" target="_blank" href="http://18.222.123.254:3013/">View Demo -></a></div>
                    </div>
                </div> <!-- single features -->
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single-features mt-40">
                    <div class="features-title-icon d-flex justify-content-between">
                        <div class="features-icon">
                            <img src="assets/images/Icons/6.png">
                           
                        </div>         
                                                
                    </div>
                    <h4 class="features-title"><a target="_blank" href="http://18.222.123.254:3013/" style="color:rgb(73, 73, 73);">CAD</a></h4>
                    <div class="features-content">
                        <p class="text">Build enterprise grade deployment templates using the Composite application Deployment</p>
                        <div class="bottomright" ><a class="features-btn" target="_blank" href="http://18.222.123.254:3013/">View Demo -></a></div>
                    </div>
                </div> <!-- single features -->
            </div>
            
          </div> <!-- row -->
      </div> <!-- container -->
  </section>

  <section id="desc">
      <div class= "description">
          <div class= "inner">
              <div class=" textleft">
                  <h1> Self Provisioning & Configuration</h1><br>
                  <p>Onboarding teams into DevSecOps in 10 mins​ Automation Library & Asset Manager ​Enterprise approved templates​. Identify maturity of DevOps adoption, gaps and help implementing the gaps through Self , Coach and automated  Assessment. Empowering teams to self profile and plan for T-shaping​. DevSecOps Metrics & Analytics​ Data driven decision making through instrumentation and telemetry of DevOps Metrics. Engineering modelling and simulation to run What-If scenarios and Entitlement Analysis. Track & manage all exceptions & technical debt across various SDLC phases & control points​.</p>
              </div>

          </div>
      </div>     
  </section>
  <section id="desc1">
      <div class= "description">
          <div class= "inner">
              <div class=" textright">
                  <h1> Continuous Delivery as Code</h1><br>
                  <p>Software & DevOps engineers check-in app code, cofiguration, properties, etc. to trigger automated build. Automated build and test will update repo for every change. Chef & Udeploy will manage infra & App code deployement by spinning up test environments in the cloud or on-prem. Changes are promoted to other environment using auto or one-click deployement.
                </p>
              </div>

          </div>
      </div>     
  </section>
  <section id="desc2">
    <div class= "description">
        <div class= "inner">
            <div class=" textleft">
                <h1> Enterprise Blueprint Library</h1><br>
                <p>Archtypes: Standard DevOps​ Java/.Net/python​. DevOps for ERP​ Oracle/SAP/SFDC​. Mainframe DevOps​. DevOps – Platforms​ PEGA/Mendix​
                    Tools: OSS tools, Azure DevOps, Atlassian, Microfocus, Broadcom, Cloud Native.
                    Patterns: AppCI-CD, Infra CI-CD, Integrated CI-CD and DevSecOps As Code.</p>
            </div>

        </div>
    </div>     
</section>
<section id="desc1">
    <div class= "description">
        <div class= "inner">
            <div class=" textright">
                <h1>Real Time View</h1><br>
                <p>Digital Rig – Single Panel of Glass builds an end to end , single source of truth for all the engineering activities in the enterprise . The 12 Dimensions of data is aggregated and analyzed for trends , patterns and reported in hierarchical and temporal dashboards . Digital Rig also includes a Self service BI engine for engineering community to build extended analytical and reporting capability.​
                </p>
            </div>

        </div>
    </div>     
</section>
<section id="desc2">
  <div class= "description">
      <div class= "inner">
          <div class=" textleft">
              <h1>Xtreme Feedback System</h1><br>
              <p>Delivery Pipeline Modelling and simulation tool helps to model and simulate the value stream of the  Enterprise Delivery Pipeline.​ Enables iterative “what-if “ Analysis on desired me ​Insights on design  constraints & bottlenecks through Entitlement Analysis​ Helps in Delivery pipeline optimization through dependency and constraint modelling​ Classify sub Optimal performance into ​Inherent Design flaws ​Efficiency issues​ Delays & Constraints.</p>
          </div>

      </div>
  </div>     
</section>
  <!--====== FEATRES TWO PART ENDS ======-->
  
  <!--====== PORTFOLIO PART START ======-->

  <!--====== PORTFOLIO PART ENDS ======-->
  
  <!--====== PRINICNG START ======-->

  <!--====== PRINICNG ENDS ======-->
  
  <!--====== ABOUT PART START ======-->

  <section id="about" class="about-area">
      <div class="container">
          <h1 style="color:#103C55"> About Us </h1><br>          
          <div class="row">
            <div class="col-sm-12">
                <p  style="text-align: left; color:#547485">Adapt DevOps for your diverse application landscapes with Wipro’s Digital Rig DevOps Platform.

                    With ever-growing need for scale and velocity in your business processes, deploy your changes in the speed you expect with confidence powered by our Digital Rig Platform. Our platform brings in a unified DevOps model which makes DevOps adaption for Large and complex application landscape with minimal automation efforts.</p>
            </div>
          <!--  <div class="col-sm-6">
                <p  style="text-align: left;color:#547485">Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in justo eu magna luctus suscipit. Sed lectus.</p>
            </div>-->
          </div>
          
      </div> <!-- container --> 
  </section>

  <!--====== ABOUT PART ENDS ======-->
  
  <!--====== TESTIMONIAL PART START ======-->

  <!--====== TESTIMONIAL PART ENDS ======-->
  
  <!--====== TEAM START ======-->

  <!--====== TEAM  ENDS ======-->
  
  <!--====== CONTACT PART START ======-->

  <section id="contact" class="contact-area" style="padding-top:20px; padding-bottom:20px">
      <div class="container">
          <div class="contact-info pt-30">
              <div class="row">
                  <div class="col-lg-3 col-md-6">
                      <div class="single-contact-info contact-color-1 mt-30 d-flex ">
                         
                          <div class="contact-info-content media-body">
                            <h4>Company</h4><br>
                            <a href="#">About Us</a><br><br>
                            <a href="#">Careers</a><br><br>
                            <a href="#">Terms Of Use</a><br><br>
                            <a href="#">Privacy Statement</a><br><br>
                            <a href="#">Give Us Feedback</a><br><br>
                            <a href="#">Partner With Us</a><br>
                              
                          </div>
                      </div> <!-- single contact info -->
                  </div>
                  <div class="col-lg-3 col-md-6">
                      <div class="single-contact-info contact-color-2 mt-30 d-flex ">
                         
                          <div class="contact-info-content media-body">
                              <h4>Other Services & Support</h4><br>
                            <a href="#">Partners</a><br><br>
                            <a href="#">Legal</a><br><br>
                            <a href="#">Privacy Policy</a><br><br>
                            <a href="#">Customer Service Help</a><br>
                          </div>
                      </div> <!-- single contact info -->
                  </div>
                  <div class="col-lg-3 col-md-6">
                      <div class="single-contact-info contact-color-3 mt-30 d-flex ">
                          
                          <div class="contact-info-content media-body">
                            <h4>Need Digital Rig Help</h4><br>
                            <a href="#">Got Questions? Call us 24/7</a><br><br>
                            <a href="#">Call: +254 716909 815</a><br><br>
                            <a href="#">Email: digital.rig@wipro.com</a><br><br>
                          </div>
                      </div> <!-- single contact info -->
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="single-contact-info contact-color-3 mt-30 d-flex ">
                        
                        <div class="contact-info-content media-body" >
                            <h4>Contact Info</h4><br>
                            <a href="#">Wipro Limited Electronic City Phase 2, Hosur Road, Bangalore, India</a><br>
                        </div>
                    </div> <!-- single contact info -->
                </div>
              </div> <!-- row -->
          </div> <!-- contact info -->
          
      </div> <!-- container -->
  </section>

  <!--====== CONTACT PART ENDS ======-->
  
  <!--====== FOOTER PART START ======-->
<!--
  <section class="footer-area footer-dark">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-6">
                  <div class="footer-logo text-center">
                      <a class="mt-30" href="index.html"><img src="assets/images/logo.svg" alt="Logo"></a>
                  </div> 
                  <ul class="social text-center mt-60">
                      <li><a href="https://www.facebook.com/WiproLimited/"><i class="lni lni-facebook-filled"></i></a></li>
                      <li><a href="https://twitter.com/uideckHQ"><i class="lni lni-twitter-original"></i></a></li>
                      <li><a href="https://instagram.com/uideckHQ"><i class="lni lni-instagram-original"></i></a></li>
                      <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                  </ul> 
                  <div class="footer-support text-center">
                      <span class="number">+8801234567890</span>
                      <span class="mail">support@uideck.com</span>
                  </div>
                  <div class="copyright text-center mt-35">
                      <p class="text">Designed by <a href="https://uideck.com" rel="nofollow">UIdeck</a> and Built-with <a rel="nofollow" href="https://ayroui.com">Ayro UI</a> </p>
                  </div>
              </div>
          </div> 
      </div> 
  </section>-->
  <!--====== FOOTER PART ENDS ======-->
    <!--====== BACK TOP TOP PART START ======-->
  <a href="#" class="back-to-top"><i class="lni lni-chevron-up"></i></a>
  <!--====== BACK TOP TOP PART ENDS ======-->    
  <!--====== PART START ======-->
<!--
  <section class="">
      <div class="container">
          <div class="row">
              <div class="col-lg-">
                  
              </div>
          </div>
      </div>
  </section>
-->
<section>
    <div class="form-popup" id="myForm">
       
  <form  class="form-container" method="post" action="contact.php">

    <button type="button" class="close" aria-label="Close" onclick="closeForm()" style="font-size:100%;">Close<span aria-hidden="true">&times;</span></button>
    <h3 style="text-align: center">Schedule meeting with experts</h3><br>
    

    <label for="client"><b>1.Client / Organization</b></label>
    <input type="text" placeholder="Enter Your Answer" name="client" required>

    <label for="sub"><b>2.Subject of Meeting</b></label>
    <input type="text" placeholder="Enter Your Answer" name="sub" required>

    <label for="date"><b>3.Date</b></label><br>
    <input type="date" placeholder="Enter Your Answer" name="date" required><br>

    <label for="starttime"><b>4.Start Time</b></label><br>
    <input type="time" placeholder="Enter Your Answer" name="starttime" required><br>

    <label for="endtime"><b>5.End Time</b></label><br>
    <input type="time" placeholder="Enter Your Answer" name="endtime" required><br>

    <label for="email"><b>6.Email Id</b></label>
    <input type="email" placeholder="Enter Your Answer" name="email" required>

    <label for="mob"><b>7.Mob</b></label>
    <input type="number" placeholder="Enter Your Answer" name="mob" required>

    <button type="submit" class="btn">Submit</button>
    
  </form>
</div>
</section>
